{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{.Title}} - {{.Brand.AppName}}</title>
<meta name="description" content="{{.Description}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<style>
:root {
    --primary: {{.Brand.Primary}};
    --primary-inverse: {{.Brand.PrimaryInverse}};
    --accent: {{.Brand.Accent}};
    --neutral: {{.Brand.Neutral}};
    --neutral-inverse: {{.Brand.NeutralInverse}};
}
</style>
<link rel="stylesheet" href="{{.Path.Base}}/client.css">
<script src="{{.Path.Base}}/client.js"></script>
<script defer src="{{.Path.Base}}{{.AlpineJSURL}}"></script>
{{if .Recaptcha}}
<script defer src="https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&render=explicit"></script>
{{end}}
</head>
<body>
    <div id="env" data-base="{{.Path.Base}}" data-home="{{.Path.Home}}" data-account="{{.Path.Account}}" data-login="{{.Path.Login}}" data-register="{{.Path.Register}}" data-refresh="{{.Path.Refresh}}"></div>
    <div class="backdrop"></div>
    <div class="workspace">
        <figure class="sidebar">
            <div class="nav-panel">
                {{template "nav" .}}
            </div>
            <figure class="logo">
                {{if .Brand.LogoURL}}
                    <a href="{{.Brand.AppURL}}">
                        <img src="{{.Brand.LogoURL}}" />
                    </a>
                {{end}}
                {{.Brand.AppName}}
            </figure>
        </figure>
        <div class="main">
            {{template "content" .}}
        </div>
    </div>
    <div x-data class="notify">
        <template x-for="(a, i) in $store.notify.alerts">
            <div class="notification" :class="a.type">
                <span class="message" x-text="a.message"></span>
                <span class="close" @click="$store.notify.close(i)">X</span>
            </div>
        </template>
    </div>
</body>
</html>
{{end}}

{{ define "nav"}}
<div class="nav-panel" x-data>
    <a href="{{.Path.Home}}" class="link back">&#x1F844; Home</a>
    {{if .Tabs}}
    <nav class="nav">
        {{range .Tabs}}
            <a class="pointer" @click="$store.nav.setTab('{{.}}')">{{.}}</a>
        {{end}}
        <a class="pointer" @click="$store.nav.logout()">Logout</a>
    </nav>
    {{end}}
</div>
{{ end }}